body {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.index-content-title {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 30px;
  line-height: 42px;
  font-weight: 700;
  color: #000000;
}

.page-title {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 30px;
  line-height: 42px;
  font-weight: 700;
  color: #000000;
}
